<section class="py-2">
    <div class="row">
       <div class="col-md-6 text-center">
           <h1 class="display-3 mt-3 pt-5">
               Web Development Ebook
           </h1>
           <p class="lead">learn web development front to end</p>
           <form action="/charge" method="POST">
           <script 
           src="https://checkout.stripe.com/checkout.js"
           class="stripe-button"
           data-key= "pk_test_wSxa7uGaqLF8ph6CxGqzl2AX003cj1V0S2"
           data-amount="2500"
           data-name="Web Development Ebook"
           data-description="Ebook written by Brad TOK"
           data-image="/img/marketplace.png"
           data-locale="auto">
           </script>
           </form>
       </div>  
    </div>
</section>